.customModal {
  top: 35vh;
  left: 30%;
  width: 40%;
  min-height: 30vh;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addMemberContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.heading {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}

.errorInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  padding: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  border: 1px solid #767575;
  border-radius: 10px;
  width: 100%;
}

.input:focus {
  outline: none;
}

.btnWrapper {
  display: flex;
  gap: 1rem;
}

.okBtn,
.primaryBtn,
.secondaryBtn {
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 12px;
}

.okBtn {
  width: 250px;
  color: #ffffff;
  background-color: #17a2b8;
  border: none;
}
.primaryBtn {
  color: #ffffff;
  background-color: #17a2b8;
  border: none;
}

.secondaryBtn {
  color: #cf3636;
  background-color: #ffffff;
  border: 1px solid #cf3636;
}

.error {
  color: #db371f;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
