.boardPage {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nameDateWrapper {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.25rem 0 1rem;
}

.name {
  font-weight: 600;
  font-size: 22px;
  color: #000000;
}
.date {
  font-weight: 500;
  font-size: 20px;
  color: #707070;
}

.headingFilterWrapper {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.boardIconWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.peopleIconWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #707070;
  cursor: pointer;
}

.heading {
  font-weight: 500;
  font-size: 29px;
  color: #000000;
}
.filter {
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  background-color: transparent;
  outline: none;
  border: none;
}

.allStatusContainer {
  flex: 1;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  overflow: auto;
}
