
.singleStatusContainer{
    min-width:360px;
    background-color: #EEF2F5;
    height:100%;
    /* padding:1rem 1rem 0 1rem; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* overflow-y: auto; NO*/
    
}

.statusIconWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.5rem 1rem;
}


.statusHeading{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color:#000000
}

.addCollapseIconWrapper{
    display: flex;
    align-items: center;
    gap:1rem;
}

.icon{
    color:#767575
}

.cardsContainer{
    /* background-color: red; */
    flex:1;
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding:0 1rem;
    overflow-y:auto;
}

.card{
    
    background-color:#FFFFFF;
    padding:1rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap:.5rem;
    border-radius: 16px;

}

.cardHeader{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.dotWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:4px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color:#707070
}

.greenDot{
    width:8px;
    height:8px;
    border-radius: 50%;
    background-color: green;
}

.dotIconWrapper{
    position:relative;
}

.menuPopup{
    width:120px;
    height:100px;
    position: absolute;
    box-shadow: 0 0 3px grey;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left:1rem;
    background-color: #FFFFFF;
    border-radius: 10px;

}

.deletePopupText,.popupText{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color:#000000
}
.deletePopupText{
    color:red;
}

.cardTitle{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color:#000000;
}

.checkListWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkListHeading{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    color:#000000;
}

.optionsContainer{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:8px 0;
}

.singleOption{
    display: flex;
    align-items: center;
    gap:.5rem;
    border:1px solid #E2E2E2;
    border-radius: 12px;
    padding:0 .5rem;
}

.checkInput{
    width:18px;
    height:18px;
}
.input{
    flex:1;
    padding:.5rem 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 1rem;
    color:#000000;
    border:none;
    min-width: 100px;
    /* background-color: blue; */
}
.input:focus{
    outline:none;
}


.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.dueDate{
    color:#5A5A5A;
    background-color:#DBDBDB;
    font-size: 8px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    padding:5px 10px;

}

.actionBtnWrapper{
    display: flex;
    gap:8px;
}

.actionBtn{
    background-color:#EEECEC;
    font-size: 8px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: rgb(118, 117, 117);
    /* #767575 */
    padding:5px 10px;
    border-radius: 8px;
    border:none;
    gap:8px;

}

.avatar{
    width:1.5rem;
    height:1.5rem;
    background-color:#FFEBEB;
    display: grid;
    place-content: center;
    font-size: 10px;
    font-weight: 400;
    border-radius: 50%;
}




::-webkit-scrollbar {
    width: 8px;
    
  }
  

  ::-webkit-scrollbar-track {
    background:#D6EAF4; 
  
  }
   
 
  ::-webkit-scrollbar-thumb {
    background:#8DAAB9; 
    border-radius: 10px;
    width:8px;
    
  }
  
/* 
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } */


