.card {
  background-color: #ffffff;
  padding: 1rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 16px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dotWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #707070;
}

.low {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #63c05b;
}

.high {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff2473;
}

.moderate {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #18b0ff;
}

.dotIconWrapper {
  position: relative;
  cursor: pointer;
}

.menuPopup {
  width: 120px;
  position: absolute;
  box-shadow: 0 0 3px grey;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 10px;
}

.deletePopupText,
.popupText {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
}
.deletePopupText {
  color: red;
}

.popupText:hover {
  cursor: pointer;
  background-color: #ecf3fd;
}
.deletePopupText:hover {
  cursor: pointer;
  background-color: #ecf3fd;
}

.cardTitle {
  font-size: 18px;

  font-family: "Poppins", sans-serif;

  font-weight: 500;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 2rem;
  -webkit-box-orient: vertical;
  /* padding: 0 0.5rem; */
}

.checkListWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkListHeading {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 8px 0;
}

.singleOption {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  padding: 0.6rem;
}

.checkInput {
  width: 18px;
  height: 18px;
}
.input {
  flex: 1;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  border: none;
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
}

.dueDate {
  color: #5a5a5a;
  background-color: #dbdbdb;
  font-size: 9px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  padding: 5px 10px;
}

.actionBtnWrapper {
  display: flex;
  gap: 8px;
}

.actionBtn {
  background-color: #eeecec;
  font-size: 9px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: rgb(118, 117, 117);
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  gap: 8px;
  cursor: pointer;
  display: flex;
}

.avatar {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ffebeb;
  display: grid;
  place-content: center;
  font-size: 10px;
  font-weight: 400;
  border-radius: 50%;
  font-family: "DM Sans", sans-serif;
}

.red {
  background-color: #cf3636;
  color: #ffffff;
}

.green {
  background-color: #63c05b;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #d6eaf4;
}

::-webkit-scrollbar-thumb {
  background: #8daab9;
  border-radius: 10px;
  width: 8px;
}

.clipboardBox {
  width: 12vw;
  height: 30px;
  position: fixed;
  background-color: grey;
  right: 20px;
  top: 20px;
  border: 1px solid #48c1b5;
  box-shadow: 0 4 16px lightgrey;
  background-color: #f6fff9;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 12px;
  display: grid;
  place-content: center;
}
